<div class="mainSheetslist" *ngIf="showForm == false">
  <h2>Suas Fichas</h2>
  <div class="list">
    <ul>
      <li>
        <span class="list-label">Name</span>
      </li>
      <li>
        <span class="list-label">Race</span>
      </li>
      <li>
        <span class="list-label">Class</span>
      </li>
      <li>
        <span class="list-label">Level</span>
      </li>
      <li>
        <span class="list-label">CA</span>
      </li>
      <li>
        <span class="list-label">Edit</span>
      </li>
      <li>
        <span class="list-label">Remove</span>
      </li>
    </ul>
    <ul *ngFor="let charactersSheet of charactersSheets">
      <li tabindex="0">
        <span class="list-label" data-label="Name">{{charactersSheet.name}}</span>
      </li>
      <li tabindex="0">
        <span class="list-label" data-label="Race">{{charactersSheet.race}}</span>
      </li>
      <li tabindex="0">
        <span class="list-label" data-label="Class">{{charactersSheet.classname}}</span>
      </li>
      <li tabindex="0">
        <span class="list-label" data-label="Level">{{charactersSheet.level}}</span>
      </li>
      <li tabindex="0">
        <span class="list-label" data-label="CA">{{charactersSheet.armorClass}}</span>
      </li>
      <li>
        <button class="image-button" (click)="changeMode(charactersSheet)">
          <img src="../../assets/botao-editar.png" alt="ViewCharacter">
        </button>
      </li>
      <li>
        <button class="image-button" (click)="removeCharacter(charactersSheet)">
          <img src="../../assets/remover.png" alt="removeCharacter">
        </button>
      </li>
    </ul>
  </div>
  <button class="plus-button" (click)="changeMode(emptyCharacter)">
    <img src="../../assets/mais.png" alt="NewCharacter">
  </button>
</div>
<!-- FICHA -->
<div class="mainSheetForm" *ngIf="showForm == true">
  <app-form-ficha [characterSheet]="selectedCharacter" (newItemEvent)="saveOrCancelEvent($event)"></app-form-ficha>
</div>
